<div class="site-navbar py-4 bg-gray">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo">
        <div class="site-logo">
          <h2  class="js-logo-clone"><strong class="text-primary">M E D </strong>F I L L</h2>
        </div>
      </div>
      <div class="main-nav d-none d-lg-block">
        <nav class="site-navigation text-right text-md-center" role="navigation">
          <ul class="nav nav-pills">
            <div>
              <li class="nav-item">
                <a class="nav-link nav-pills active" routerLink="login">Login</a>
              </li>
            </div>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Registration</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="user-registration">User</a>
                <a class="dropdown-item" routerLink="merchant-registration">Merchant</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
