<div style="background-color: #bfd1ec">


<!-- Sing in  Form -->
<div class="main">
<section class="sign-in">
  <div class="container">
    <div class="signin-content">
      <div class="signin-image">
        <figure><img src="assets/images/signin-image.jpg" alt="sing up image"></figure>
      </div>
      <div class="signin-form">
        <h2 class="form-title">Reset Password</h2>
        <div *ngIf="successMsg.length>0">
          <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{successMsg}}
          </div>
        </div>
        <div *ngIf="errorMsg.length>0">
          <div class="alert alert-danger alert-dismissible fade show" style="">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{errorMsg}}
          </div>
        </div>
        <form class="register-form" id="login-form" [formGroup]="forgotPassword" (ngSubmit)="resetPassword()"  >
          <div *ngIf="registerFormControl.userEmail?.invalid && (registerFormControl.userEmail?.dirty || registerFormControl.userEmail?.touched)"
          class="alert alert-danger alert-dismissible">
       <div *ngIf="registerFormControl.userEmail.errors?.required">
         Email is required.
       </div>
       <div *ngIf="registerFormControl.userEmail.errors?.email">
         Email format is wrong.
       </div>
     </div>
          <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input type="email" name="email" formControlName="userEmail" id="email" placeholder="Your Email"/>
          </div>

          <div *ngIf="registerFormControl.userPassword?.invalid && (registerFormControl.userPassword?.dirty || registerFormControl.userPassword?.touched)"
               class="alert alert-danger alert-dismissible">
            <div *ngIf="registerFormControl.userPassword.errors?.required">
              Password is required.
            </div>
            <div *ngIf="registerFormControl.userPassword.errors?.minlength">
              Password must be at least 4 characters long.
            </div>
            <div *ngIf="registerFormControl.userPassword.errors?.maxlength">
              Password must be at most 10 characters long.
            </div>
          </div>
          <div class="form-group">
            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" name="pass" formControlName="userPassword" id="pass" placeholder="Password"/>
          </div>

          <div class="form-group">
            <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
            <input type="password" name="re_pass" formControlName="confirmpassword" id="re_pass" placeholder="Repeat your password"/>
          </div>
          <div class="form-group form-button">
            <input type="submit" name="signin" id="signin" class="form-submit" value="Reset"/>
          </div>
        </form>   
      </div>
    </div>
  </div>
</section>
</div>
</div>
